<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Bolão</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>National Teams</h1>
        <div>
            <ul th:each="nationalteam : ${nationalteams}">
                <li th:text="${nationalteam.coutry}"></li>
                <li>second</li>
                <li>third</li>
            </ul>

        </div>
    </body>
</html>
